body {
  font-family: "Helvetica Neue", "Microsoft Yahei", Helvetica, Roboto,
               "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 1.275rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:link,a:visited {
  color: #2199e8;
}

a:hover {
  color: #1585cf;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}

.top-bar-left ul {
  padding-left: 10px;
}

.top-bar-left ul a {
  color: #fefefe;
  font-weight: 200;
  padding: 10px;
}

.top-bar-left ul a:hover {
  background-color: #4c4c4c;
}

.top-bar-right ul a {
  color: #fefefe;
  font-weight: 200;
  font-size: 16px;
  padding: 10px 17px 10px 17px;
}

.top-bar-right ul a:hover {
  background-color: #4c4c4c;
}

nav {
  padding-top: 22px;
  padding-bottom: 22px;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0px;
}

.top-bar-right {
  float: right;
}

.top-bar-right ul li {
  display: inline-block;
}

header {
  background: url(../images/c.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 160px;
}

#lee {
  color: #fff;
}

#lee h1 {
  font-size: 50px;
  margin-bottom: 80px;
}

#quiet {
  text-align: center;
}

#quiet p {
  color: #fff;
  margin-bottom: 60px;
}

#down {
  text-align: center;
}

#down .circle {
  font-size: 3rem;
  color: #fff;
  border: 2px solid #eee;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#about {
  background-color: #000;
  color: #eee;
  padding: 200px 0px;
}

.row {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#skill {
  background: url(../images/a.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

h1.title {
  color: #eee;
  margin-top: 0px;
  margin-bottom: 32px;
}

.develop {
  color: #eee;
  background-color: rgba(63, 63, 63, 0.6);
  font-weight: 200;
  font-size: 18px;
  padding: 10px 0px 1px 10px;
}

.develop li {
  margin-top: 16px;
  margin-bottom: 16px;
}

#work {
  background: url(../images/e.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

.project {
  background-color: rgba(63, 63, 63, 0.6);
  padding-top: 40px;
  padding-bottom: 40px;
}

article {
  margin-bottom: 25px;
}

time,ul.word {
  color: #aaa;
  font-size: 14px;
  font-weight: 200;
}

time.word {
  padding-left: 20px;
}

.project h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.project li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.name {
  color: #eee;
  margin-right: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.brief {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 300;
  margin-right: 1rem;
}

.link {
  font-size: 16px;
  font-weight: 200;
}

.product {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 300;
}


#contact {
  background-color: #000;
  color: #eee;
  text-align: center;
  line-height: 1.6;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  padding-top: 160px;
  padding-bottom: 32px;
}

.me {
  margin-top: 0px;
  margin-bottom: 32px;
}

.mail_to {
  margin-top: 48px;
  margin-bottom: 32px;
}

.contact-ul {
  margin-top: 40px;
}

.contact-ul li {
  display: inline-block;
}

.contact-ul li a {
  border: 1px solid #219AB3;
  border-radius: 0.5rem;
  color: #219AB3;
  padding: 0.5rem 2rem;
  margin: 0.5rem 1rem;
  transition: all .3s ease-in-out;
  font-size: 17px;
}

.contact-ul li a:hover {
  background-color: #219AB3;
  color: #000;
}

.contact-ul li a i {
  margin-right: 0.5rem;
}

.douban {
  font-style: normal;
  font-size: 95%;
}

.modified-at {
  padding-top: 8rem;
  color: #aaa;
  font-size: 1rem;
}

footer {
  background-color: #353535;
  color: #fff;
  text-align: center;
  padding: 24px;
  font-size: 1.125rem;
}

@media print, screen and (max-width: 960px) {
  .row {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media print, screen and (max-width: 860px) {
  #contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media print, screen and (max-width: 650px) {
  .contact-ul {
    padding-left: 0px;
  }

  .contact-ul li {
    display: block;
    margin-bottom: 25px;
  }

  h1 {
    font-size: 35px;
  }

  #lee h1 {
    font-size: 35px;
  }

  .top-bar-right ul {
    padding-left: 0px;
  }

  .top-bar-left ul {
    padding-left: 0px;
  }
}

@media print, screen and (max-width: 396px) {
  .top-bar-right ul a {
    padding: 5px 8.5px;
  }
  .top-bar-left ul a {
    padding: 5px;
    font-size: 18px;
  }
}
