body {
  font-family: "Helvetica Neue", "Microsoft Yahei", Helvetica, Roboto,
               "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 1.275rem;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}

#about {
  background-color: #000;
  color: #eee;
  font-weight: 200;
  padding: 200px;
}

#skill {
  background: url(images/a.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

h1.title {
  color: #eee;
  margin-top: 0px;
  margin-bottom: 32px;
}

div.develop {
  color: #eee;
  background-color: rgba(63, 63, 63, 0.6);
  font-weight: 200;
  font-size: 18px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
}

li.familiar {
  margin-top: 16px;
  margin-bottom: 16px;
}

#work {
  background: url(images/e.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

footer {
  background-color: #353535;
  color: #fff;
  text-align: center;
  padding: 24px;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #2199e8;
}

a:hover {
  color: #1585cf;
}
